.root {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 99;
}

.navitem {
  color: var(--mantine-color-gray-7);
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.navitem:hover {
  color: var(--mantine-color-brand-5);
}

.navitem_active {
  color: var(--mantine-color-gray-0);
}

.breadhome {
  transition: 0.2s ease-in-out;
}

.breadhome:hover {
  color: var(--mantine-color-brand-5);
}
